{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Login
{% endblock titulo %}

{% block titulo_principal %}
Login
{% endblock titulo_principal %}

{% block imagen%}
{%  static 'img/login-alan-walker.gif'  %}
{% endblock imagen%}

{% block categorias %}
<div class="container center">
    <form class="form" method="post">
        {% csrf_token %}
        {{ form.as_p}}
    
        <button type="submit" id="submit">Login</button>
    </form>
    </div>
{% endblock categorias %}

{% block contenido%}
{% endblock contenido%}

{% block search %}
{% endblock search %}