{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Logout
{% endblock titulo %}

{% block titulo_principal %}
<div style="color:aliceblue">
    <h3>Sesión cerrada.</h3>
</div>
{% endblock titulo_principal %}

{% block imagen%}
{%  static 'img/tenor.gif'  %}
{% endblock imagen%}

{% block notif %}
{% endblock notif %}
{% block categorias %}

{% endblock categorias %}

{% block contenido%}
{% endblock contenido%}

{% block search %}
{% endblock search %}
