{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Vida de Ecosistemas Terrestres
{% endblock titulo %}

{% block titulo_principal %}
Vida de Ecosistemas Terrestres
{% endblock titulo_principal %}

{% block imagen%}
{%  static 'img/img5.jpg'  %}
{% endblock imagen%}

{% block categorias %}
{% endblock categorias %}

{% block contenido%}
        {% if posts %}
        {% for post in posts %}
        <div class="container">
        <div class="post-preview">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.content }}
            </h3>
          </a>
          <p class="post-meta">Escrito por
            <strong>{{ post.author }}</strong> el
            {{ post.publish_date }} <br>
            Categoria: {{ post.categoria }}
          </p>
          
        </div>
        <hr>
        </div>
        {% endfor %}
        {% else %}
        <h1>No existen post registrados!</h1>
        {% endif %}
        {% endblock contenido%}

        {% block search %}
      <nav >
        <div class="container" style="margin-bottom: 20px;">
          <div class="row">
            <div class="col-md-12 search">
              <form method="get">
                <div id='custom-search-input'>
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                    <span class="input-group-list"></span>
                    <i class="icon icon-search"></i>
                    <button type="submit" class="boton btn-success">Buscar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div> 
      </nav><!-- barra de busqueda --> 
      {% endblock search %}