{% extends 'index.html' %}
{% load static %}


{% block titulo %}
  {{ detalle_post.title }}
{% endblock titulo %}

{% block imagen %}
  {{ detalle_post.thumbnail }}
{% endblock imagen %}

{% block titulo_principal %}
  <h1>{{ detalle_post.title }}</h1>
  <p>Escrito por: {{ detalle_post.autor }}</p>
{% endblock titulo_principal %}

{% block contenido%}
<p>{{ detalle_post.content|safe }}</p>
{% endblock contenido%}

{% block categorias %}
{% endblock categorias %}

{% block search%}
{% endblock search%}