{% extends 'index.html' %}
{% load static %}


{% block titulo %}
  {{ detalle_post.titulo }}
{% endblock titulo %}

{% block imagen %}
  {{ detalle_post.imagen }}
{% endblock imagen %}

{% block titulo_principal %}
  <h1>{{ detalle_post.titulo }}</h1>
  <p>{{ detalle_post.descripcion }}</p>
  <p>Escrito por: {{ detalle_post.autor }}</p>
{% endblock titulo_principal %}

{% block contenido%}
<p>{{ detalle_post.contenido|safe }}</p>
{% endblock contenido%}

{% block categorias %}
{% endblock categorias %}