{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Post List
{% endblock titulo %}
{% block titulo_principal %}
{% endblock titulo_principal %}
{% block search %}
            <nav >
              <div class="container" style="margin-bottom: 20px;">
                <div class="row">
                  <div class="col-md-12 search">
                    <form method="get">
                      <div id='custom-search-input'>
                        <div class="input-group col-md-12">
                          <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                          <span class="input-group-list"></span>
                          <i class="icon icon-search"></i>
                          <button type="submit" class="boton btn-success">Buscar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> 
            </nav><!-- barra de busqueda --> 
            {% endblock search %}
{% block content%}
<!-- Main Content -->
<div class="container">
  <div class="clearfix">
    <a href="{% url 'blog:antiguos'%}" class="btn btn-primary float-left">Antiguos</a>
    <a href="{% url 'blog:recientes'%}" class="btn btn-primary float-right">Recientes</a>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% block contenido%}
        {% if posts %}
        {% for post in posts %}
        <div class="container">
        <div class="post-preview">
          <a href="{{ post.get_absolute_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.content|truncatechars:40 }}
            </h3>
          </a>
          <p class="post-meta">Escrito por
            <strong>{{ post.author }}</strong> el
            {{ post.publish_date }} <br>
            Categoria: {{ post.categoria }}
            <hr>
            <span><i class="fas fa-thumbs-up"></i>{{ post.get_like_count }}</span>
            <span><i class="fas fa-eye"></i>{{ post.get_view_count }}</span>
            <span><i class="fas fa-comments"></i>{{ post.get_comment_count }}</span><br>
            <span>Publicado hace {{ post.publish_date|timesince }} </span>
          </p>
        </div>
        <hr>
        </div>
        {% endfor %}
        {% else %}
        <h1>No existen post registrados!</h1>
        {% endif %}
        {% endblock contenido%}
        <!-- Pager -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
        {% if posts.has_previous %}
        <div class="clearfix">
          <a href="?page={{ posts.previous_page_number }}{% if request.GET.search %} &q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">Anterior</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
        {% if posts.has_next %}
        <div class="clearfix">
          <a href="?page={{ posts.next_page_number }}{% if request.GET.search %} &q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-right">Siguiente</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
   

  <hr>
{% endblock content%}

