{% extends 'index.html' %}
{% load static %}


{% block titulo %}
  {{ object.title }}
{% endblock titulo %}

{% block imagen %}
  {{ object.thumbnail }}
{% endblock imagen %}

{% block titulo_principal %}
  <h1>{{ object.title }}</h1>
  <p>Escrito por: {{ object.author }}</p>
{% endblock titulo_principal %}

{% block contenido%}


<div style="padding: 10px">
  <p>{{ post.content }}</p>
</div>

<hr/>

<div>
<h4>Te gusta el post? Dejame un like!</h4>

<a class="text-muted" href="{{ object.get_like_url }}">
  .<i class="far fa-thumbs-up"></i>
</a>
<hr>
<div>
  <span><i class="fas fa-thumbs-up"></i>{{ object.get_like_count }}</span>
  <span><i class="fas fa-eye"></i>{{ object.get_view_count }}</span>
  <span><i class="fas fa-comments"></i>{{ object.get_comment_count }}</span><br>
  <span class="float-left">Publicado hace {{ object.publish_date|timesince }} </span>
</div>
</div>
{% endblock contenido%}

{% block categorias %}
{% endblock categorias %}

{% block search%}
{% endblock search%}