{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Post List
{% endblock titulo %}
{% block titulo_principal %}
<h1>Post List</h1>
{% endblock titulo_principal %}
{% block imagen%}
{% endblock imagen%}

{% block categorias %}
{% endblock categorias %}
{% block content%}
<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% block contenido%}
        {% if object_list %}
        {% for object in object_list %}
        <div class="container">
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">
              {{ object.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ object.content }}
            </h3>
          </a>
          <p class="post-meta">Escrito por
            <strong>{{ object.author }}</strong> el
            {{ object.publish_date }}
          </p>
        </div>
        <hr>
        </div>
        {% endfor %}
        {% else %}
        <h1>No existen post registrados!</h1>
        {% endif %}
        {% endblock contenido%}
        <!-- Pager -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
        {% if posts.has_previous %}
        <div class="clearfix">
          <a href="?page={{ posts.previous_page_number }}{% if request.GET.search %} &q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">Anterior</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
        {% if posts.has_next %}
        <div class="clearfix">
          <a href="?page={{ posts.next_page_number }}{% if request.GET.search %} &q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-right">Siguiente</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
   

  <hr>
{% endblock content%}

{% block search %}
{% endblock search %}