{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Post {{ view_type }}
{% endblock titulo %}
{% block titulo_principal %}
<h1>Post {{ view_type }}</h1>
{% endblock titulo_principal %}
{% block imagen%}
{% endblock imagen%}
{% block search %}
{% endblock search %}
{% block categorias %}
{% endblock categorias %}
{% block content%}
<div class="container">
    <h1>Seguro deseas borrar esto?</h1>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-primary" type='submit'>Confirm</button>
    </form>
</div>
{% endblock content%}

